<section id="products-add">

<div class="container">
<h2> Add New Product </h2>
    <form method="POST" action="/products/add" enctype="multipart/form-data">
    <div class="form-group">
        <p>
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name">
        </p>
    </div>
     
        
        <p>
            <label class="floatLabel">Description</label>
            <input class="form-control" type="text" id="description" name="description">
        </p>
        <p>
            <label class="floatLabel">Category</label><br>
            <select class="form-control" name="category">
                <option name="Electronics" value="Electronics">Electronics</option>
                    <option name="Mobile Phones and Tablets" value="Mobile Phones and Tablets">Mobile Phones and Tablets</option>
                    <option name="Home,Furniture And Appliances" value="Home,Furniture And Appliances">Home,Furniture And Appliances</option>
                    <option name="Watches" value="Watches">Watches</option>
              <option name="Home & Beauty" value="Home & Beauty">Home & Beauty</option>
              <option name="Fashion" value="Fashion">Fashion</option>
              <option name="Sports, Arts and Outdoors" value="Sports, Arts and Outdoors">Sports, Arts and Outdoors</option>
              <option name="Jobs" value="Jobs">Jobs</option>
              <option name="Agriculture And Food" value="Agriculture And Food">Agriculture And Food</option>
              <option name="Commercial Equipments And Tools" value="Commercial Equipments And Tools">Commercial Equipments And Tools</option>
              <option name="Repair And Constructions" value="Repair And Constructions">Repair And Constructions</option>
              <option name="Computer Hardware and Software Services" value="Computer Hardware and Software Services">Computer Hardware and Software Services</option>
            </select>
        </p>
        <p>
            <label class="floatLabel">Price</label>
            <input class="form-control" type="text" name="price" id="price">
        </p>
        <p>
            <label class="floatLabel">Quantity</label>
            <input class="form-control" type="text" name="quantity" id="quantity">
        </p>
        <p>
             <label class="floatLabel">Bestseller</label><br>
            <select class="form-control" name="bestseller">
                <option value="true">Yes</option>
                <option selected value="false">No</option>
            </select>
        </p>
        <p>
             <label class="floatLabel">Photo</label><br>
            <input class="form-file-control" type="file" name="productPic" id="productPic">
        </p>
        <p>
             <button type="submit" class="btn btn-danger btn-lg">Add Product</button>
        </p>

    </form>
</div>
</section>